* {
  margin: 0;
  padding: 0;
}
body {
  background-color: hsl(30, 38%, 92%);
}

main {
  width: 600px;
  height: 450px;
  margin: 25vh auto 0 auto;
  background-color: white;
  border-radius: 20px;
  position: relative;
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
}
.parfum-img {
  position: absolute;
  top: 0;
  left: 0;
  height: 450px;
  width: 300px;
  background-image: url(../images/image-product-desktop.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 10px 0 0 10px;
}
.description {
  position: absolute;
  width: 236px;
  right: 32px;
  top: 32px;
}
h1 {
  color: hsl(212, 21%, 14%);
  font-family: "Fraunces", serif;
  font-size: 32px;
  margin-bottom: 24px;
  line-height: 32px;
}
main div p {
  color: hsl(228, 12%, 48%);
}
main div p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 12px;
  margin-bottom: 20px;
}
main div p:nth-child(3) {
  line-height: 23px;
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 25px;
}
main div p:nth-child(4) {
  font-family: "Fraunces", serif;
  font-size: 32px;
  color: #3d8167;
}
main div p:nth-child(4) span {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  margin-left: 19px;
  text-decoration: line-through;
  color: hsl(228, 12%, 48%);
  vertical-align: 8px;
}
main a {
  position: absolute;
  width: 236px;
  height: 48px;
  bottom: 32px;
  right: 32px;
  background-color: #3d8167;
  color: white;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 14px;
}
main a:hover {
  background-color: #1a4032;
}
main a .cart {
  vertical-align: -2px;
  margin-right: 4px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}
footer a {
  text-decoration: none;
  color: hsl(228, 20%, 19%);
}
